body{
    margin: 0;
    background-image: url(../imagenes/fondo1.jpg);
    background-repeat:repeat-y;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #020202;
}
#nombreencabezado{
    margin-right: 20px;
    font-size: 20px;
    font-style: inherit;
    color: rgb(216, 172, 29);
    font-style: unset;
}
#nav-list{
   display: flex; 
   flex-direction: column;
   list-style-type: none;
   gap: 16px;
   align-items: end;
   background-color: #151313;
   padding: 32px;
   
   

}
.boton{
    text-decoration: none;
    color: rgb(230, 100, 7);

}
.abrir-menu{
    display:block ;
}
.cerrar-menu{
    display: block;
}
.nav{
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    flex-direction: column;
    box-shadow: 0 0  10vmax rgb(216, 172, 29);
    align-items: end;
    bottom: 0;
    background-color: #151313;
    opacity: 0;
    visibility: hidden;
}
.nav.visible{
    opacity: 1;
    visibility: visible;
}
#logo{
    width: 30px;
    height: 30px;

}



@media only screen and (min-width: 768px){
    .abrir-menu{
        display: none;
    }
    .cerrar-menu{
        display: none;
    }
    #nav{
        display: flex;
    }
}