body{
    margin: 0;
    background-image: url(../imagenes/fondo1.jpg);
    background-repeat:repeat-y;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*comienza barra de navegacion y menu hamburguesa*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #020202;
    z-index: 100;
}
#nombreencabezado{
    margin-right: 20px;
    font-size: 20px;
    font-style: inherit;
    color: rgb(216, 172, 29);
    font-style: unset;
}
#nav-list{
   display: flex; 
   flex-direction: column;
   list-style-type: none;
   gap: 16px;
   align-items: end;
   background-color: #151313;
   padding: 32px;
}
.boton{
    text-decoration: none;
    color: rgb(230, 100, 7);
}
a{
    text-decoration: none;
    color: none;
}
.abrir-menu, .cerrar-menu{
    display:block ;
}
.nav{
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    flex-direction: column;
    box-shadow: 0 0  10vmax rgb(216, 172, 29);
    align-items: end;
    bottom: 0;
    background-color: #151313;
    opacity: 0;
    visibility: hidden;
}
.nav.visible{
    opacity: 1;
    visibility: visible;
}
#logo{
    width: 30px;
    height: 30px;
}
/*termina barra de navegacion-menu hamburgueas*/
/*comienza menu de promos en index*/
.menu-fotos{
    display: flex;
}
.container2{
    padding: 55px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: left;
    color: #e4a14a;
}

.fotospromos{
    height: 250px;
    width: 250px;
    border-color: #e6c20f;
    border-radius: 40px;
    border-style: outset;
}

.titulo-principal{
    background-color: rgb(232, 228, 7);
    text-align: center;
    color: #e4a14a;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 3px 3px 0 rgb(133, 104, 49);
    animation: marquee 10s linear infinite;
}
.lista-ofertas{
    color: rgb(212, 179, 12);
    background-color: #151313;
    list-style: none;
    height: 100px;
    border-bottom: #e6c20f;
    border-style: dashed;
}
.promo{
    display: flex;
}
.titulopromo{
    text-transform: uppercase;
    color: #e4a14a;
}
/*termina index*/
/*comienza html menu*/
.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: left;
    color: #e4a14a;
}
.centro, .derecha, .izquierda {
    background-color: black;
    margin: 5px;
    width: 200px;
}
.hb {
    height: 200px;
    width: 200px;
}
.sub {
    text-transform: uppercase;
}
.Titulos-hb{
    text-transform: uppercase;
    color:#e4a14a;
}
.lista-de-ingredientes {
    color: yellow;
}
/*termina html menu*/
/*comienza html de pedidos con el form*/
.container{
    background-color: #eda548;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: 50px;
    margin-top: 50px;
}
form {
    display: flex;
    flex-direction: column;
}
#botonform {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#botonform:hover {
    background-color: #0056b3;
}
.captcha {
    margin-top: 15px;
    margin-bottom: 15px;
}
input[type="checkbox"] {
    margin-right: 10px;
}
label {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);
    height: 100px;
    resize: vertical;
}
/*termina html de pedidos con el form*/


.titulo-menu {
    background-color: rgb(232, 228, 7);
    text-align: center;
    color: #e4a14a;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 3px 3px 0 rgb(133, 104, 49)
}

/*comienza-html-sucursales*/
.map{
    height: 170px;
    width: 170px;
    border-style: solid;
    border-color: #e6c20f;
}

.sucursales {
    color: #e4a14a;
    padding: 10px;
    margin: 20px;
    content: 0px;
    flex-wrap: wrap;
    background-color: black;
}

thead {
    color: yellow;
    text-transform: uppercase;
}
table, td, tr {
    border: 1px solid yellow;
    border-collapse: collapse;
}
.mapasarriba, .mapasabajo{
    display: flexbox;
}

#map2arriba, #map2abajo{
    margin-left: 45px;
    margin-top: 50px;
}
/*termina-html-sucursales*/

@media only screen and (min-width: 769px) {
   /* media query de la barra de navegacion*/
    .abrir-menu {
        display: none;
    }
    .cerrar-menu {
        display: none;
    }
    .nav {
        display: flex; /* Hace que la navegación sea visible en pantallas grandes */
        position: relative; /* Restaura la posición a estática */
        opacity: 2; /* Restaura la opacidad */
        visibility: visible; /* Restaura la visibilidad */
        box-shadow: none; /* Elimina la sombra */
    }
    #nav-list {
        display: ruby;
        justify-content: space-between;
        align-items: center;
        padding: 25px;
    }
    .boton {
        list-style: none;
        margin: 0px 10px;
        color: darkorange;
        text-transform: uppercase;
        padding: 40px;
        text-decoration: none;
    }
    .boton:hover {
        background: #e6c20f;
    }
    /*termina media query de la barra de navegacion*/
   
    /*comienza media query del form*/
   .container{
        height: 500px;
        width: 800px;
    }
    /*termina media query del form*/
    /* comienza media query del menu*/
   
    /* comienza media query del menu*/
    /*comienza media query del index.html*/
    
    .fotospromos{
        display: flex;
        height: 350px;
        width: 350px;
        border-color: #e6c20f;
        border-radius: 40px;
        border-style: outset;
    }
    
    .lista-ofertas{
        height: 100px;
    }
    .promo{
        padding: 15px;
        display: block;
        justify-content: center;
        flex-wrap: wrap;
        align-items: stretch;
    }
  
    /*comienza-media-query-sucursales*/
  .map{
        height: 370px;
        width: 370px;
        border-style: solid;
        border-color: #e6c20f;
    }
    table{
        width: 80%; 
        height: 300px; 
    }
    /*termina-media-query-sucursales*/
}