body{
    margin: 0;
    background-image: url(../imagenes/fondo1.jpg);
    background-repeat:repeat-y;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
/*comienza barra de navegacion y menu hamburguesa*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #020202;
    z-index: 100;
}
#nombreencabezado{
    margin-right: 20px;
    font-size: 20px;
    font-style: inherit;
    color: rgb(216, 172, 29);
    font-style: unset;
}
#nav-list{
   display: flex; 
   flex-direction: column;
   list-style-type: none;
   gap: 40px;
   align-items: end;
   background-color: #151313;
   padding: 32px;
}
.boton{
    text-decoration: none;
    color: rgb(230, 100, 7);
}
a{
    text-decoration: none;
    color: none;
}
.abrir-menu, .cerrar-menu{
    display:block ;
}
.nav{
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    flex-direction: column;
    box-shadow: 0 0  10vmax rgb(216, 172, 29);
    align-items: end;
    bottom: 0;
    background-color: #151313;
    opacity: 0;
    visibility: hidden;
}
.nav.visible{
    opacity: 1;
    visibility: visible;
}
#logo{
    width: 30px;
    height: 30px;
}
/*termina barra de navegacion-menu hamburgueas*/
/*comienza menu de promos en index*/
.menu-fotos{
    display: flex;
}
.container2{
    padding: 55px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: left;
    color: #e4a14a;
}

.fotospromos{
    height: 240px;
    width: 240px;
    border-color: #e6c20f;
    border-radius: 40px;
    border-style: outset;
}

.titulo-principal{
    background-color: rgb(232, 228, 7);
    text-align: center;
    color: #e4a14a;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 3px 3px 0 rgb(133, 104, 49);
    animation: marquee 10s linear infinite;
}
.lista-ofertas{
    color: rgb(212, 179, 12);
    background-color: #151313;
    list-style: none;
    width: 200px;
    height: 100px;
    border-bottom: #e6c20f;
    border-style: dashed;

}
.promo{
    display: flex;
}
.titulopromo{
    text-transform: uppercase;
    color: #e4a14a;
}
/*termina index*/
/*comienza html menu*/
.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: left;
    color: #e4a14a;
}
.centro, .derecha, .izquierda {
    background-color: black;
    margin: 5px;
    width: 200px;
}
.hb {
    height: 200px;
    width: 200px;
}
.sub {
    text-transform: uppercase;
}
.Titulos-hb{
    text-transform: uppercase;
    color:#e4a14a;
}
.lista-de-ingredientes {
    color: yellow;
    list-style: none;
}
/*termina html menu*/
/*comienza html de pedidos con el form*/
.container{
    background-color: #eda548;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: 40px;
    margin-top: 50px;
}
form {
    display: flex;
    flex-direction: column;
}
.botonform {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.botonform:hover {
    background-color: #0056b3;
}
.captcha {
    margin-top: 15px;
    margin-bottom: 15px;
}
input[type="checkbox"] {
    margin-right: 10px;
}
label {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);
    height: 100px;
    resize: vertical;
}
#logoform{
    display:none
}
/*termina html de pedidos con el form*/


.titulo-menu {
    background-color: rgb(232, 228, 7);
    text-align: center;
    color: #e4a14a;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 3px 3px 0 rgb(133, 104, 49)
}

/*comienza-html-sucursales*/
.map{
    height: 150px;
    width: 150px;
    border: 2px;
    margin: 10px;
    border-style: solid;
    border-color: #e6c20f;
}
/*tabla*/
.sucursales {
    color: #e4a14a;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow-x: auto;
    display: block;
    background-color: black;
}
.sucursales th, .sucursales td {
    padding: 8px;
    border: 1px solid #e6c20f;
    text-align: center;
    word-wrap: break-word;
}
thead {
    color: yellow;
    text-transform: uppercase;
}
table, td, tr {
    border: 1px solid yellow;
    border-collapse: collapse;
}/*tabla*/
.mapasarriba, .mapasabajo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map2arriba, #map2abajo{
    margin-top: 20px;
}

/*formulario de surursales para rest*/
#formsucursales {
    background-color: #e4a14a;
    color: black;
}
#mensaje{
    background-color: #e4a14a;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    padding: 10px;

}
.pform p{
    margin: 5px 0;
}
.botonform {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #1c6ef4;
    color: black;
    border: none;
    cursor: pointer;
}
.styled-button {
    padding: 8px 12px;
    margin: 4px;
    border: none;
    background-color: #e6a91c;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

.styled-button:hover {
    background-color: #63e527;
}

.styled-button:active {
    transform: scale(0.98);
}
/*termina-html-sucursales*/






@media only screen and (min-width: 768px) {
   /* media query de la barra de navegacion*/
    .abrir-menu {
        display: none;
    }
    .cerrar-menu {
        display: none;
    }
    .nav {
        display: flex; /* Hace que la navegaci칩n sea visible en pantallas grandes */
        position: relative; /* Restaura la posici칩n a est치tica */
        opacity: 2; /* Restaura la opacidad */
        visibility: visible; /* Restaura la visibilidad */
        box-shadow: none; /* Elimina la sombra */
    }
    #nav-list {
        display: ruby;
        justify-content: space-between;
        align-items: center;
        padding: 25px;
    }
    .boton {
        list-style: none;
        margin: 0px 10px;
        color: darkorange;
        text-transform: uppercase;
        padding: 40px;
        text-decoration: none;
    }
    .boton:hover {
        background: #e6c20f;

    }
    /*termina media query de la barra de navegacion*/
   
    /*comienza media query del form*/
   .container{
    height: 650px;
    width: 700px;
    font-size: x-large;
   }
   #logoform{
    display: flex;
    height: 400px;
    width: 450px;
    padding-right: 140px;
    padding-top: 90px;
    
   }
   .input {
    width: 400px;
    height: 30px;
   }
   #seccionpedido{
    display:flex;
    justify-content: space-between;
   }

    /*termina media query del form*/
    /* comienza media query del menu*/
    .hb, .izquierda, .centro, .derecha{
        height: 400px;
        width: 350px;
        margin-top: 30px;
    }
    .lista-de-ingredientes{
        background-color: black;
        list-style: none;
        font-size: larger;
    }
    .sub{
        font-size: x-large;
        background-color: #020202;
    }
    /* termina media query del menu*/
    /*comienza media query del index.html*/
    
    .fotospromos{
        display: flex;
        height: 350px;
        width: 350px;
    }
    
    .lista-ofertas{
        height: 100px;
    }
    .promo{
        padding: 15px;
        display: block;
        justify-content: center;
        flex-wrap: wrap;
        align-items: stretch;
    }
  
    /*comienza-media-query-sucursales*/
  .map{
        height: 270px;
        width: 270px;
        border-style: solid;
        border-color: #e6c20f;
       
    }
    .mapasarriba, .mapasabajo {
        justify-content: center;
    }
    #map2arriba, #map2abajo {
        margin-left: 45px;
        margin-top: 0;
    }
    .sucursales {
        font-size: 16px;
        display: table; /* Cambia el display a table para pantallas m치s grandes */
    }
    .sucursales th, .sucursales td {
        padding: 12px;
    }
    /*termina-media-query-sucursales*/
}